* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  border: 2px solid lightgray;
  padding: 10px;
  margin-bottom: 50px;
}

.Line {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Line div {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #aaa;
  margin: 4px;
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
}

.Line > .green {
  background-color: rgb(132, 229, 132);
  border-color: rgb(132, 229, 132);
}

.Line > .yellow {
  background-color: rgb(255, 236, 62);
  border-color: rgb(255, 236, 62);
}

.Line > .grey {
  background-color: rgb(187, 187, 187);
  border-color: rgb(187, 187, 187);
}
